AIRFLOW_UID=

# =============================================================================
# Snowflake / dbt
# =============================================================================

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=
SNOWFLAKE_SCHEMA=

# =============================================================================
# Connections
# =============================================================================

AIRFLOW_CONN_SNOWFLAKE_DEFAULT=
AIRFLOW_CONN_SLACK_WEBHOOK_DEFAULT=
AIRFLOW_CONN_AWS_DEFAULT=

# =============================================================================
# Airflow Variables
# =============================================================================

AIRFLOW_VAR_SNOWFLAKE_S3_ROLE_ARN=
AIRFLOW_VAR_SNOWFLAKE_AWS_EXTERNAL_ID=

# =============================================================================
# Airflow sensitive value masking
# =============================================================================

AIRFLOW__CORE__HIDE_SENSITIVE_VAR_CONN_FIELDS=True
AIRFLOW__CORE__SENSITIVE_VAR_CONN_NAMES=external_id,role_arn,snowflake_aws_external_id,snowflake_s3_role_arn